app-sidebar textarea {
    min-height: 290px;
}

app-sidebar img {
    max-width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

.nav-pills {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
}

.tab {
    padding-top: 30px;
}

.tab h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.example-icon {
    width: 14px;
}

#inputdata img {
    height: 4vh;
}

#inputdata1 a img {
    height: 4vh;
}