@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Monoton&family=Russo+One&family=VT323&display=swap');

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}


.contain{
    background-color: rgb(255, 255, 255);
    padding: 35px;
    margin-top: 40vh;
    border-radius: 5px;
}

h2{
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(255, 149, 0);
}


#box-shadow-generator{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

#controls-container, #preview {
    flex: 1;
    padding: 2rem;
}

.form-control{
    display: flex;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 10px dashed rgb(255, 230, 194);
}

.form-control label {
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgb(199, 199, 199);
    width: 10vh;
   
}

.range-input {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 30vh;
    
}

.range-input input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 24px;
    background-color: #c2c2ff;
    border-radius: 8px;
    outline: none;
    padding: 5px;
}

.range-input input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #236cff;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s ease;
}

.range-input input[type="range"]::-webkit-slider-thumb:hover{
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    background-color: #f0101000;
    border: solid 5px #8504ff;
    border-radius: 50px;
    cursor: pointer;
}

.reference-input {
    display: flex;
    align-items: center;
    margin-top: 45px;
    border-radius: 5px !important;
}

#horizontal-value,
#vertical-value,
#blur-value,
#spread-value
{
    border: none;
    font-weight: 600;
    color: #ccc;
    background-color: rgba(255, 0, 0, 0);
}

.reference-input p {
    margin-left: 0px;
    color: #ccc;
}

.form-control input[type="text"]{
    height: 30px;
    width: 30px;
    margin-left: 1rem;
    text-align: center;
}

#box {
    width: 100%;
    height: 50vh;
    border-radius: 8px;
    padding: -50px;
    margin-bottom: 20vh;
}

#box input{
    border-radius: 20px !important;
}

.buttonColor{
    background-color: #04ffea;
    color: rgb(53, 53, 53);
    width: 150px;
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}

input[type="color"]{
    background-color: rgba(255, 0, 0, 0);
    height: 40px;
    border: none;
    border-bottom: 10px solid #8504ff;
}

.colorInputText{
    background-color: #dbdbdb;
    color: #8504ff;
    padding-left: 15px;
    font-weight: 700;
    border: none;
    height: 40px;
    border-radius: 8px;
}

#color-input {
    position: absolute;
    opacity: 0;
  }
  
#pseudo-color-input {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid 1px #000;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

#generated-rule{
    text-align: center;
}

#generate-rule p{
    margin-bottom: 0.5rem;
}

#rules-area{
    background-color: #dfdfdf;
    color: #8504ff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    border: solid 2px #8504ff;
}


